// font
$content-font: 		   Lato, Helvetica, Arial, sans-serif;
$title-font: 		   Abel, Helvetica, Arial, sans-serif;
$logo-font:            Abel, Helvetica, Arial, sans-serif;
$font-base-size:       16px;

// colors
$primary-color:        #58B88D;

$base-color:           #3D454F;
$title-color:          #313740;
$bgcolor-light:        #F7F7F7;

$base-color-dark:      #EEE;
$title-color-dark:     #FFF;
$bgcolor-dark:         #3D454F;

// colors that users cannot change
$bgcolor-lighter:      #E4E6E7;
$bgcolor-lightest:     #F1F2F3;
$bgcolor-darker:       #313740;
$bgcolor-darkest:      #272C33;

// layout
$spacing-base:         1.5em;
$spacing-block:        3.75em;
$blog-width:           880px;
$content-width:        760px;